APP_NAME='Borlotti-App'
APP_ENV='development'
TIMEZONE='Europe/Rome'
APP_DEBUG=true
DB_HOST='127.0.0.1'
DB_NAME='database-name'
DB_USER='root'
DB_PASS='root'
DB_DRIVER='mysql'
DB_CHARSET='utf8mb4'
DB_COLLATION='utf8mb4_unicode_ci'
DB_PREFIX=''
DB_PORT='3306'
