APP_NAME='Borlotti-App'
APP_ENV='development'
APP_DEBUG=true

TIMEZONE='Europe/Rome'

DEV_DB_HOST='127.0.0.1'
DEV_DB_NAME='database-name'
DEV_DB_USER='root'
DEV_DB_PASS='root'
DEV_DB_DRIVER='mysql'
DEV_DB_CHARSET='utf8mb4'
DEV_DB_COLLATION='utf8mb4_unicode_ci'
DEV_DB_PREFIX=''
DEV_DB_PORT='3306'

PRD_DB_HOST='127.0.0.1'
PRD_DB_NAME='database-name'
PRD_DB_USER='root'
PRD_DB_PASS='root'
PRD_DB_DRIVER='mysql'
PRD_DB_CHARSET='utf8mb4'
PRD_DB_COLLATION='utf8mb4_unicode_ci'
PRD_DB_PREFIX=''
PRD_DB_PORT='3306'
